.main {
  color: #1A202C;

  .actions {
    display: flex;
    gap: 10px;

    .modalBtn {
      width: 100%;
      margin-top: 10px;
    }

    .stats {
      margin-top: 10px;
      display: flex;
      width: 100%;
      gap: 10px;

      div {
        font-size: 16px;
        padding: 8px;
        flex-grow: 1;
        text-align: center;
        border-radius: 4px;
      }

      .wrong {
        background: #FC8181;
      }
      .correct {
        background: #9AE6B4;
      }
      .percentage {
        background: #BEE3F8;
      }
    }
  }

  .categoryInfo {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 12px;
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;

  .active {
    background: #BEE3F8
  }

  h4 {
    font-size: 14px;
  }
}

.categoryStats {
  line-height: 24px;

  span {
    margin-right: 5px;
    padding: 2px;
    background: #BEE3F8;
    border-radius: 3px;
  }
}

@media screen and (max-width: 768px) {
  .main .actions .stats div span {
    display: none;
  }
  .main .categoryInfo {
    flex-direction: column;
  }
}