.container {
  margin-top: 10px;

  &.list .answers button {
    cursor: text;
  }

  h3 {
    font-weight: 600;
  }

  .answers {
    button {
      text-align: left;
      width: 100%;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 5px 0;

      &.guess {
        background: #FAF089;
      }

      &.correct {
        background-color: #9AE6B4;
      }

      &.guess.correct {
        background-color: #9AE6B4;
      }

      &.guess.wrong {
        background-color: #FC8181;
      }
    }
  }

  .actions {
    margin: 10px 0;
    width: 100%;
    justify-content: flex-end;
  }
}